<div class="login-card">
    <img class="icon-login" src="./../../../assets/logo.png" alt="LogoTemplate">
    <h2 style="text-align: center; font-size: 30px; margin-top: 20px;">Login</h2>
    
    <div style="margin-top: 10px;">
        <div style="margin: 10px 20px 0px 5px;">
            <label style="color: white; font-size: 15px;">Username</label>
            <input style="margin-left: 10px;" type="text" id="login" name="login"/>
        </div>
        <div style="margin: 10px 20px 0px 5px;">
            <label style="color: white; font-size: 15px;">Password</label>
            <input style="margin-left: 10px;" type="password" id="password" name="password"/>
        </div>
    </div>
    <button (click)="onSubmit()">Login</button>
</div>