<div class="modal-header">
    <h1 id="modal-primary-title">Comprar novo ticket</h1>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">X</button>
</div>
<div class="modal-body centered">
    <div style="display: flex; align-items: center;">
        <h2>{{ticket.competitionTitle}}</h2> 
        <label style="margin-bottom: 15px; margin-left: 20px; color: tomato; font-weight: 500;">{{available}} tickets restantes</label>
    </div>
    <h3>Gostaria de garantir seu ticket?</h3>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Comprar</button>
</div>
