.background-card{
    width: 200px;
    height: 300px; 
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid rgba(111, 191, 194, 0.694);
    margin: 0px 20px 0px 20px; 
    padding: 15px;
}

.ticket-logo{
    width: 170px;
    height: 150px; 
    align-items: center;
    background-color:white; 
    object-fit: contain;
}

.progress-bar{
    margin-top: 10px;
    background-color:white; 
}