<div class="page">
    <!--General Details-->
    <div>
        <h2>
            Competição {{championshipDetail.title}}
        </h2>
        <div style="display: flex; padding: 10px; ">
            <img style="height: 250px; width: 300px; margin-right: 30px;" src="./../../../../assets/competition-icon.png"/>
            <div>
                <h2>Descrição da competição</h2>
                <p>{{championshipDetail.description}}</p>

                <h2>Data de início</h2>
                <p>{{championshipDetail.startDate}}</p>

                <h2>Data de finalização</h2>
                <p>{{championshipDetail.endDate}}</p>

                <h2>Incrições</h2>
                <p>{{championshipDetail.subscription}}</p>
            </div>
        </div>
    </div>
    <hr/>
    <!--Ranking-->
    <div>
        <h2>Ranking Atualizado</h2>
        <div>
            <ranking-card *ngFor="let team of championshipDetail.ranking; let i = index" [team]="team" [index] = "i" ></ranking-card>
        </div>
    </div>
    <hr/>
    <!--Match-->
    <div>
        <h2>Fases x Confrontos</h2>
        <ngb-accordion *ngFor="let matche of matchslist; let i = index">
            <ngb-panel title="Fase {{matche.phase}}">
                <ng-template ngbPanelContent>
                    <match-table [tableData]="matche.matches" [show]="matche.show"></match-table>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <hr/>
</div>
