<div class="page">
    <!--General Details-->
    <div>
        <h2>
            Competição {{id}}
        </h2>
        <div style="display: flex; padding: 10px;">
            <img style="height: 250px; width: 300px" src="{{imgSrc}}"/>
            <div>
                <h3>Descrição da competição</h3>
                <p>{{description}}</p>

                <h3>Data de início</h3>
                <p>{{initialDate}}</p>

                <h3>Data de finalização</h3>
                <p>{{endDate}}</p>

                <h3>Incrições</h3>
                <p>{{subscribed}}</p>
            </div>
        </div>
    </div>
    <hr/>
    <!--Racking-->
    <div>
        <h2>Ranking Atualizado</h2>
        <div>
            <ranking-card *ngFor="let team of teamRanking; let i = index" [team]="team" [index] = "i" ></ranking-card>
        </div>
    </div>
    <hr/>
    <!--Match-->
    <div>
        <h2>Fases x Confrontos</h2>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="Fase 1">
                <ng-template ngbPanelContent>
                    <match-table></match-table>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <hr/>
</div>
