<div class="page">
    <div style="display: flex; justify-content:space-around;">
        <main-card></main-card>
        <main-card></main-card>
        <main-card></main-card>
    </div>
    <div style="display: flex; justify-content:space-around;">
        <main-card></main-card>
        <main-card></main-card>
        <main-card></main-card>
    </div>
    <div style="display: flex; justify-content:space-around;">
        <main-card></main-card>
        <main-card></main-card>
        <main-card></main-card>
    </div>
</div>