<div class="page">
    <dash-carosel></dash-carosel>
    <div style="display: flex; justify-content:space-between;">
        <main-card imgSrc="champvolei.jpeg" title="Campeonato Volei A435" description="Campeonato beneficente organizado pela turna A435"/>
        <main-card imgSrc="champbasquete.png" title="Campeonato Basquete Inter-Regional" description="Campeonato de basquete inter-regional pauslita sub-23 2023"/>
        <main-card imgSrc="champvalorant.jpeg" title="Campeonato Universitário de Valorant" description="Campeonato de Universitário - E-sports - Jogo: Valorant"/>
        <!-- <main-card imgSrc="champvolei.jpeg" title="Campeonato Volei A435" description="Campeonato beneficente organizado pela turna A435"/>
        <main-card /> -->
    </div>
</div> 
